.navbar a {
  color: #e44600;
}
h1 {
  color: #e44600
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1%;
  background: #898989;
  display: flex;
  justify-content: space-between;
}
footer div {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
footer .small-web {
  font-size: 16px;
  font-weight: normal;
}
